<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SPDocumentWcfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SharePointFileLogDBConnectionString" connectionString="Data Source=10.0.120.29;Initial Catalog=SharePointFileLogDB;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--邮件服务器地址-->
    <add key="MailServer" value="scoffice.nw-sc.com" />
    <!--发送邮件的账户-->
    <add key="MailFromUser" value="nwcllserver" />
    <!--发送邮件账户的密码-->
    <add key="MailFromUserPwd" value="wYCxWu7TT5A3LmUt" />
    <!--邮件的后缀-->
    <add key="MailUrl" value="@nwgz.com" />
    <!--是否测试版本：0为正式版本，1为测试版本 -->
    <add key="IsTestVersion" value="1" />
    <!--测试版本类型，当IsTestVersion为1时生效：1-开发版本，2-仿真版本 -->
    <add key="TestType" value="1" />
    <!--系统管理员账号-->
    <add key="SystemAdmin" value="lijingj"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" transferMode="Streamed"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2024000000" maxArrayLength="2024000000" maxBytesPerRead="2024000000" maxNameTableCharCount="2024000000" />
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logMalformedMessages="false"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false"
        maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="警告,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="禁用,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="警告, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="SystemRuntimeSerialization">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="DateTime, Timestamp">
        <filter type="" />
      </add>
      <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="SystemRuntimeSerialization" traceOutputOptions="DateTime, Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>

  <applicationSettings>
    <SPDocumentWcfService.Properties.Settings>
      <setting name="SPDocumentWcfService_SPCopyWebService_Copy" serializeAs="String">
        <value>https://nwscportal.nw-sc.com/_vti_bin/Copy.asmx</value>
      </setting>
      <setting name="SPDocumentWcfService_SPDwsWebService_Dws" serializeAs="String">
        <value>https://nwscportal.nw-sc.com/_vti_bin/dws.asmx</value>
      </setting>
      <setting name="SPDocumentWcfService_SPListWebService_Lists" serializeAs="String">
        <value>https://nwscportal.nw-sc.com/_vti_bin/lists.asmx</value>
      </setting>
      <setting name="SPDocumentWcfService_SPImageWebService_Imaging"
        serializeAs="String">
        <value>https://nwscportal.nw-sc.com/_vti_bin/imaging.asmx</value>
      </setting>
      <setting name="SPDocumentWcfService_SPUserGourpWebService_UserGroup"
        serializeAs="String">
        <value>https://nwscportal.nw-sc.com/_vti_bin/UserGroup.asmx</value>
      </setting>
    </SPDocumentWcfService.Properties.Settings>
  </applicationSettings>
</configuration>
